html {

}

body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

.nav > ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

.wrapper > .dfn {
  background-color: #b58900;
}

  strong:nth-child(2) {
    color: #fff;
  }

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

a:not(.no-highlight) {
  background-color: #719e07;
}

a[rel="external"] {
  background-color: #2694d8;
}

ol > li:first-of-type {
  color: #719e47;
}

ol > li:last-of-type {
  color: #2aa198;
}

.types > li:nth-child(odd) {
  background-color: #657ba3;
}

.types > li {
  background-color: #586e75;
}

.types > li:nth-child(3n+3) {
  background-color: #d04b16;
}
